<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>注册</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!--忽略页面中的数字识别为电话号码-->  
<meta name="format-detection" content="telephone=no" />
<!--忽略页面中的邮箱格式为邮箱-->
<meta name="format-detection" content="email=no"/>
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>


<body>
<!--头部公用-->
<div id="header">
	<div class="header fixed">
		<div class="headerCont box">
		<div class="headerL"><a href="javascript:void(0)" class="back"></a></div>
		<div class="headerC boxflex"><p class="font17">注册</p></div>
		<div class="headerR"><a href="#" class="txt2 font14">登录</a></div>
		</div>
	</div>
</div>
<div class="wrapper login">
	<div class="tabCont" style="display:block">
		<ul class="blockinput formLogin">
			<li class="box font14">
				<span class="tit2">密码</span>
				<div class="cont2 input phone boxflex">
					<a href="javascript:void(0)" class="close"></a>
					<input type="text" placeholder="6-16位数字或字母" >
				</div>
			</li>
			<li class="box font14">
				<span class="tit2">确认密码</span>
				<div class="cont2 input boxflex">
					<a href="javascript:void(0)" class="close"></a>
					<input type="text" placeholder="6-16位数字或字母" >
				</div>
			</li>
		</ul>
		<div class="applyBtn font17">
			<a href="javascript:void(0)">完成</a>
		</div>
	</div>
</div>
<script language="javascript" type="text/javascript" src="js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="js/bestdo.js"></script>
<script>
$(function(){
	$("input").inputEve({
		cls:'.header',
		clearVal:'.close'
	});
})
</script>
</body>
</html>