<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--忽略页面中的数字识别为电话号码-->
    <meta name="format-detection" content="telephone=no"/>
    <!--忽略页面中的邮箱格式为邮箱-->
    <meta name="format-detection" content="email=no"/>

    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css"/>
</head>

<body>
<!--头部公用-->
<div id="header">
    <div class="header fixed">
        <div class="headerCont box">
            <div class="headerL"><a href="javascript:void(0)" class="back"></a></div>
            <div class="headerC boxflex"><p class="font17">注册</p></div>
            <div class="headerR"><a href="#" class="txt2 font14">登录</a></div>
        </div>
    </div>
</div>
<div class="wrapper login">
    <div class="tabCont" style="display:block">
        <ul class="blockinput formLogin">
            <li class="box font14">
                <span class="tit2">手机</span>
                <div class="cont2 input phone boxflex">
                    <a href="javascript:void(0)" class="close"></a>
                    <input type="text" placeholder="11位数字"/>
                </div>
                <a href="javascript:void(0)" class="btn gray">获取验证码</a>
            </li>
            <li class="box font14">
                <span class="tit2">验证码</span>
                <div class="cont2 input boxflex">
                    <a href="javascript:void(0)" class="close"></a>
                    <input type="text" placeholder="6位数字"/>
                </div>
            </li>
        </ul>
        <div class="applyBtn font17">
            <a href="javascript:void(0)">下一步</a>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript" src="../js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="../js/bestdo.js"></script>
<script>
    $(function () {
        $("input").inputEve({
            cls: '.header',
            clearVal: '.close'
        });
    })
</script>
</body>
</html>